<%- include('./partials/header'); -%>

    <div class="container ">
        <div class="row">
            <div class=" card col-3 p-0 mx-5 ">
                <div class="card-img " style="background-image:url(https://imagessl.etstur.com/files/images/hotelImages/TR/51914/l/Porto-Bello-Hotel-Genel-276743.jpg); ">
                    <div class="overlay ">
                        <div class="overlay-content ">
                            <a class="hover " href="/hotel/Porto-Bello">Select Hotel</a>
                        </div>
                    </div>
                </div>

                <div class="card-content ">
                    <a href="#! ">
                        <h2>Porto Bello</h2>
                        <p>Akdeniz Bulvarı/Antalya</p>
                    </a>
                </div>
            </div>

            <div class="card col-3 p-0 mx-5 ">
                <div class="card-img " style="background-image:url(https://lh3.googleusercontent.com/Yo-xnWpXHrUmAayIlzP7iuIICFNQK-JFvAmPp_32jZZQlQaphch2hpZ7CytrQZpNTcicRBWf=w1080-h608-p-no-v0); ">
                    <div class="overlay ">
                        <div class="overlay-content ">
                            <a href="/hotel/Latayna-Palm">Select Hotel</a>
                        </div>
                    </div>
                </div>

                <div class="card-content ">
                    <a href="#! ">
                        <h2>Latayna Palm</h2>
                        <p>Meydankavağı/Antalya</p>
                    </a>
                </div>
            </div>

            <div class="card col-3 p-0 ml-5 ">
                <div class="card-img " style="background-image:url(https://imagessl.etstur.com/files/images/hotelImages/TR/52418/l/Voyage-Bodrum-Genel-260134.jpg); ">
                    <div class="overlay ">
                        <div class="overlay-content ">
                            <a href="/hotel/Voyage-Bodrum">Select Hotel</a>
                        </div>
                    </div>
                </div>

                <div class="card-content ">
                    <a href="#! ">
                        <h2>Voyage Bodrum</h2>
                        <p>Bardakçı Koyu/Bodrum</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer'); -%>